@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font imported */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.heading{
  color: rgb(58, 58, 58);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.375rem;
  letter-spacing: -2px;
  margin-bottom: 1rem;
  max-width: 38rem;
}

.section-title{
  color: rgb(10, 8, 38);
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 3.75rem;
  margin-bottom: 1rem;
}

.card-title{
  color: rgb(24, 25, 31);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-top: .5rem;
}

.amount{
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.para{
  color: rgb(58, 58, 58);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 2rem;
  max-width: 31.25rem;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn{
  border-radius: 41px;
  color: white;
  background: rgb(224, 44, 109);
  padding: 0.625rem 1.5rem;
  font-weight: 700;
  border: 1px solid rgb(224, 44, 109);
  cursor: pointer;
}
.btn:hover{
  color: rgb(224, 44, 109);
  background-color: white;
}
/* global css ends */
/* header section starts */
.sm-navbar{
  display: none;
}
.navbar{
  margin: 3.125rem auto;
}

.navbar h4{
  font-weight: 700;
}

.navbar ul{
  gap: 2.125rem;
  justify-content: center;
  align-items: center;
}

.navbar ul li a{
  color: #3A3A3A;
  text-decoration: none;
}
.banner .img-container{
  background: url('../images/Circle\ design.svg');
  background-position: center;
  background-size: cover;
  width: 28rem;
  height: 28rem;
}
/* header section ends */
/* e-com section starts */
.e-com{
  flex-wrap: wrap;
  gap: 3.75rem;
  justify-content: center;
  margin: 5rem auto 7.5rem;
}
/* e-com section ends */
/* products section starts */
.collection{
  position: relative;
}
.collection h2{
  text-align: center;
  margin-bottom: 2rem;
}
.cards{
  display: grid;
  grid-template-columns: repeat(3, 20.5625rem);
  grid-gap: 1.875rem;
  margin-left: 50px;
}
.card {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  width: 20.5625rem;
  height: 29.75rem;
  padding: 1rem 1rem 1.2rem;
}

.rating{
  font-size: .8rem;
  justify-content: start;
  font-weight: 700;
  gap: 0.625rem;
  margin: .25rem auto;
}

.card .para{
  font-weight: 400;
  max-width: 80%;
}

.collection .see-more{
  background-color: white;
  color: rgb(224, 44, 109);
  border: none;
  padding: 0.625rem 1.5rem;
  font-weight: 700;
  position: absolute;
  right: 1.25rem;
  margin-top: 2.5rem;
  cursor: pointer;
}
/* products section ends */
/* invite section starts */
.invite{ 
  margin: 80px auto;
  gap: 70px;
  justify-content: start;
}

.invite .btn{
  border-radius: 0%;
}
/* invite section ends */
/* footer section starts */
footer{
  background-color: black;
  color: white;
  text-align: center;
}
.footer{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.75rem;
}

.footer h4, .footer p{
  color: white;
  text-align: center;
  margin: 5px;
}

.social-icons{
  margin-top: 1rem;
  gap: 1rem;
} 

.social-icons i{
  background-color: #3A3A3A;
  border-radius: 50%;
  padding: .5rem;
}
/* footer section ends */













/* mobile device styles */
@media screen and (max-width: 576px) {
  body:root{
    font-size: 14px;
  }
  .container{
    max-width: 310px;
  }
  .navbar{
    display: none;
  }
  .sm-navbar{
    margin: 1.25rem auto;
    display: block;
  }
  .sm-navbar ul li a{
    color: #3A3A3A;
    font-weight: 700;
    line-height: 1.2rem;
  }
  .banner{
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner .text-container h1{
    font-size: 1.75rem;
    line-height: 2.625rem;
  }
  .banner .text-container p{
    text-align: center;
  }
  .banner .img-container{
    width: 15.625rem;
    height: 15.625rem;
  }
  .banner .img-container img{
    width: 100%;
  }
  .section-title{
    font-size: 1.5rem;
    margin: 1.5rem auto;
  }
  .e-com{
    gap: 1rem;
    margin: 3.125rem auto;
  }
  .e-com img{
    transform: scale(.6);
    margin: -10px;
  }
  .cards{
    grid-template-columns: repeat(1, 20.5625rem);
    margin-left: -10px;
    grid-gap: 1rem;
  }
  .collection .see-more{
    margin-top: 2rem;
    right: -1.5rem;
  }
  .invite{
    flex-direction: column-reverse;
    text-align: center;
  }
  .invite h2, .invite p{
    text-align: center;
    line-height: normal;
  }
  .invite .invite-img{
    margin-top: -30px;
  }
  .footer h4 , .footer p{
    width: 450px;
  }















}

/* tablet styles starts */
@media screen and (max-width: 992px) and (min-width: 576px) {
  .container{
    max-width: 750px;
  }
  .heading{
    max-width: 29rem;
  }
  .para{
    max-width: 25rem;
  }
  .banner .img-container{
    width: 18rem;
    height: 18rem;
  }
  .banner .img-container img{
    width: 100%
  }
  .e-com{
    gap: 1.875rem;
  }
  .e-com img{
    transform: scale(.8);
    margin: -10px;
  }
  .cards{
    margin-left: 0px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 0px;
  
}
.card {
  margin: -55px -40px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 1rem 1rem 1.2rem;
  transform: scale(.7);
}
.collection .see-more{
  margin-top: 2rem;
  right: 0rem;
}
.invite{
  gap: 2.5rem;
}
.invite h2{
  line-height: 2.5rem;
  margin-top: 2rem;
}














}